.cartPage {
    background-color: var(--off-white);
    height: 100vh;
}

.cartContainer {
    display: grid;
    grid-template-columns: 1fr 400px;
}

.checkoutCardContainer {
    grid-area: 1/2/-1/3;
}

.emptyCartCard {
    background-color: var(--white);
    margin: 20px auto 0px auto;
    width: 50%;
    text-align: center;
    filter: drop-shadow(3px 1px 5px #5e5c64);
    border-radius: 5px;
    padding: 100px;
}

.emptyCartText {
    font-weight: 600;
    margin-bottom: 250px;

}

.emptyCartButton {
    background-color: var(--blue);
    color: var(--white);
    padding: 8px 15px;
    border-radius: 15px;
}