:root {
  --black: #000;
  --off-white: #f6f6f6;
  --white: #fff;
  --blue: #277ed4;
  --green: #1a7d36;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
}

button {
  border-radius: 8px;
  padding: 4px 8px;
  border: none;
}

.pointer {
  cursor: pointer;
}

.smallIcon {
  width: 15px;
}