.navBar {
    background-color: var(--black);
    color: var(--off-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

}

.burgerMenu {
    display: hidden;
    width: 100%;
}

nav {
    visibility: visible;
    width: 100%;
    text-align: end;
    text-wrap: nowrap;
}

.navLink {
    color: var(--off-white);
    text-decoration: none;
    margin-left: clamp(20px, 10%, 150px);
}

#home {
    margin-left: 0px;
}



.storeNameLink {
    margin-left: 0px;
}

.storeName {
    font-weight: 200;
    text-wrap: nowrap;
    width: 200px;
}

.currentPageLink {
    border-bottom: var(--off-white) 3px solid;
}

.icon {
    width: 25px;
    position: relative;
    top: 5px;
}

.offWhite {
    filter: invert(70%);
}

.cartIcon > img {
    filter: invert(70%);
    position: relative;
}

.cartIcon.active > img {
    filter: invert(100%)
}



.white {
    filter: invert(100%)
}

.cartCount {
    background-color: var(--blue);
    color: var(--white);
    width: 13px;
    text-align: center;
    font-size: 13px;
    border-radius: 5px;
    position: absolute;
    top: 35px;
    right: 15px;
}

@media screen and (max-width: 480px) {
    .burgerMenu {
        visibility: visible;
        border: var(--white) solid 2px;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        text-align: center;
    }

    .burgerMenuIcon {
        filter: invert(100%);
        width: 35px;
        height: 35px;
        margin: 3px auto;
    }

    .cartCount {
        top: 8px;
        right: -5px;
    }

    nav {
        display: flex;
        position: relative;
        flex-direction: column;
        overflow: hidden;
        transition: height 1s ease;
        justify-content: space-evenly;
        top: 0px;
        right: 30px;
        background-color: var(--black);
        width: 100px;
        z-index: 5;
        height: 0px;
        transition: height .5s ease;
    }
    
    nav.shownNav {
        
        height: 200px;
        transition: height .5s ease-out;
        
    }

    nav:focus-visible {
        background-color: blue;
    }

    

    .navLink {
        margin: 0;
        padding: 0;
        position: relative;
        align-self: center;
    }

    .storeNameLink {
        color: var(--white);
    }
}